#mainTable {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
#mainTable td {
    display: flex;
    border: 1px solid #FFF;
    background-color: #49ABE6;
}
#mainTable tr {
    display: flex;
    flex-direction: row;
}

#mainTable tr:first-child td {
    border-top: 2px solid #FFF;
}
#mainTable tr:last-child td {
    border-bottom: 2px solid #FFF;
}
#mainTable tr td:first-child {
    border-left: 2px solid #FFF;
}
#mainTable tr td:last-child {
    border-right: 2px solid #FFF;
}

#leftTable {
    border-top: 2px solid none;
}
#leftTable td {
    background-color: #B20000;
    visibility: hidden;
}
#leftTable td:hover {
    background-color: #CB4C46;
    cursor: pointer;
    visibility: visible;
    transition: visibility 0s, opacity 15s linear;
}

#topTable td {
    background-color: #B20000;
    visibility: hidden;
}
#topTable td:hover {
    background-color: #CB4C46;
    cursor: pointer;
}

#rightTable {
    border-top: 2px solid #FFF;
}
#rightTable td {
    background-color: #F1A105;
}
#rightTable td:hover {
    background-color: #F6C053;
    cursor: pointer;
}
#bottomTable td {
    background-color: #F1A105;
}
#bottomTable td:hover {
    background-color: #F6C053;
    cursor: pointer;
}

#dummyTables {
    border-left: 2px solid none;
}
#dummyTables td {
    background-color: none;
}

td {
    width: 75px;
    height: 75px;
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    transition: background-color .5s linear;
}

.tables-container {
    display: flex;
    flex-direction: column;
}

.main-table-container {
    display: flex;
    flex-direction: row;
}

.top-bottom-groups {
    display: flex;
    flex-direction: row;
}

.border {
    border: 2px solid #9ABAC2;
}
